.aside {
  height: 100vh;
  width: 20vw;
  background-color: #dbdbdb;
  position: fixed;
}

.titleAside {
  height: 20vh;
  color: black;
}

.left{
  text-align: left;
  align-items: left;
  text-shadow: #dbdbdb;
}

.inputs{
  text-align: left;
  font-size: 1.5em;
  font-weight: 500;
  width: 15vw;
}

input, textarea{
  width: 95%;
  height: 5vh;
  border-radius: 0.5em;
  border: none;
  box-shadow: 1px 1px 5px black;
  font-size: large;
  padding-left: 5%;
  resize: vertical;
}

.buttonAdd{
  height: 5vh;
  width: auto;
  padding: 0% 2% 0% 2%;
  font-size: larger;
  font-weight: 700;
  color: white;
  background-color: #363636;
  border-radius: 0.5em;

}

.description{
  height: 10vh;
}

.image{
  position: absolute;
  bottom: 5%;
  width: 10vw;
  height: auto;
  border-radius: 0.5em;
}