.content {
  padding-left: 16vw;
  padding-bottom: 20vh;
  min-height: 100vh;
}

.titleContent {
  height: 20vh;
  color: white;
}

.cards {
  gap: 5px;
}

.card {
  background-color: #c5c5c5;
  color: black;
  min-width: 60vw;
  max-width: 60vw;
  min-height: 7vh;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 2%;
  font-size: 30px;
  text-align: left;
}

.card p {
  word-wrap: break-word;
  max-height: 15vh;
  overflow-y: auto;
}

.buttons {
  background-color: #565656;
  padding: 1%;
  border-radius: 0.5em;
}

.button {
  display: flex;
  height: 70px;
  width: 100px;
  border-radius: 1em;
  background-color: #171717;
  color: WHITE;
  text-align: center;
  align-items: center;
  justify-content: center;
  user-select: none;
  box-shadow: 2px 2px 5px black;
  transition: 0.15s;
}

.button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px black;
}
