* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.auto {
  margin: 0 auto;
}

.wall {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #363636;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.margin {
  margin: 10%;
}

.gap {
  gap: 5px;
}

.transition {
  transition: 0.3s;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
